@charset "UTF-8";



/*
    PROPIEDADES DE LAYOUT: Relacionadas à posição e tamanho (ex: margin, padding, display, position).

    PROPIEDADES DE ESTILO VISUAL: Relacionadas à cor, bordas, sombras (ex: background, color, border, box-shadow).

    PROPRIEDADES TIPOFRÁFICAS : Relacionadas ao texto (ex: font-family, font-size, line-height, text-align).
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: radial-gradient(circle, gray,  black);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#formm {
    position: absolute;
    overflow: hidden;
    height: 680px;
    width: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 10px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#formm > div#imagem {
    background-color: black;
    background: black url(../imagens/fundo.jpg) center center no-repeat;
    background-size: cover;
    
    height: 40%;
}

section#formm > div#login {
    height: 60%;
    padding: 10px;
}

div#login > h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div#login > p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;

    margin: 20px;
}

div#login div.campo {
    height: 40px;
    margin: 10px 0px;
    display: block;

    background-color: black;
    color: gold;
    border-radius: 8px;
    border: 1px solid gold;
}



div.campo > input {
    
    height: 100%;
    transform: translateY(-0.3px);

    border-radius: 8px;
    border: 0px;
    
    
}

div.campo > input::placeholder {
    color: gold;
}

div.campo > input:focus-within {
    text-align: center;
}

div.campo > input#email {
    width: calc(100% - 52px);
}

div.campo > input#senha {
    width: calc(100% - 54px);
}

div#login  input[type="submit"] {
    margin: auto;
    display: block;
    margin-top: 30px;
    width: 80%;
    height: 35px;

    border: none;
    background-color: black;
    color: gold;
    border-radius: 10px;
}

div#login input[type="submit"]:hover {
    background-color: white;
    
    color: black;
    border: 2px solid black;
    cursor: pointer;
}